.best {
  position: relative;
  &:before {
    position: absolute;
    content: 'best';
    color: green;
    width: 30px;
    height: 30px;
    //background-image: url('check.svg');
    background-position: center;
    background-size: cover;
    left: -36px
  }
}